$black: #08080e;
$red: #F85F73;
$grey: #949497;
$grey2:#f2f2f2;
$purple: #6B48FF;
$azure-blue: #1EE3CF;
$white: #FFFFFF;


// shadow
$black-shadow: #08080E6E;
$size-shadow: 1px 1px 20px -2px;

//  @import '../assets/variables.scss';